#principal-portifolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#principal-portifolio div {
    flex: 1 0 200px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #ddd;
    margin: 10px;
    text-align: center;
    background: linear-gradient(white, #ddd);
}

#principal-portifolio img {
    width: 200px;
    height: auto;
}
