table {
    width: 100%;
}

thead, tfoot {
    background-color: rgba(44, 62, 80,1.0);
    color: rgba(189, 195, 199,1.0);
}

tfoot a {
    color: rgba(189, 195, 199,1.0);
}

th, td {
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(189, 195, 199,1.0);
}
