body {
    /* Variáveis */
    --borda-padrao: 1px dashed #ddd;
    --espacamento-padrao: 20px;
    --largura-padrao: 960px;
    --altura-padrao: auto;

    width: var(--largura-padrao);
    margin: 0 auto;
}

#container {
    width: calc(var(--largura-padrao) - --espacamento-padrao * 2);
    border: var(--borda-padrao);
    height: var(--altura-padrao);
    float: left;
}

#topo {
    margin: var(--espacamento-padrao);
    padding: var(--espacamento-padrao);
    border: var(--borda-padrao);
}

#navegacao {
    width: calc(20% - var(--espacamento-padrao) * 8);
    margin: 0 var(--espacamento-padrao);
    padding: var(--espacamento-padrao);
    height: var(--altura-padrao);
    border: var(--borda-padrao);
    float: left;
}

#banner, #principal, #rodape {
    border: var(--borda-padrao);
    float: right;
    margin: 0 20px 20px 0px;
    padding: 20px;
    width: 450px;

    background-color: azure;
    background-clip: border-box;
}

#banner {
    height: 150px;
}

#principal {
    height:  auto;
}

#cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    /*flex: row wrap 1 1 30%;*/
    flex: 1 1 30%;
    border: var(--borda-padrao);
    margin: 5px;
    height: 200px;
}