#topo {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(39, 174, 96,1.0);
}

#logo {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-size: 3.5em;
    font-style: normal;
    color: rgba(39, 174, 96,1.0);
}
